name: Build R Docker Image

on:
  schedule:
    - cron: '0 2 * * Mon' # 2am every Monday
  push:
    branches:
      - main

jobs:
  build-docker-image:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Build Docker image
      - name: Build Docker image
        run: |
          docker build -t ghcr.io/dfe-analytical-services/dfe-r-base:latest .

      # Authenticate with GitHub Container Registry
      - name: Log in to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Push Docker image to GitHub Container Registry
      - name: Push Docker image to GitHub Container Registry
        run: |
          docker push ghcr.io/dfe-analytical-services/dfe-r-base:latest
